.title-mem {
    font-weight: 700;
}
.container-mem{
max-width: 1440px;
margin: 0 auto;


box-sizing: border-box;
line-height: 18px;

}

h1{text-align: center}
P { text-align: center }



.box-1 {
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
}
.box-2 {
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #155668;
    margin-bottom: 5px;
}


.title2-box{
display: block;
font-size: 15px;
font-weight: 700;
padding: 10px 15px;
cursor: pointer;
transition: background .2s ease-out;
}
.accord2-mem {
    display: none;
    text-align: center;
}
.input-mem {
    width: 0px;
    height: 0px;
    appearance: none;
    position: absolute;
}
.title2-box:hover {
    background-color: #155668;
}
.input-mem:checked + .accord2-mem {
    display: block;
}

