.title-mem {
    font-weight: 700;
}
.container-mem{
max-width: 1440px;
margin: 0 auto;


box-sizing: border-box;
line-height: 18px;

}

h1{text-align: center}
p{margin: 0px 0px;}
img{
  animation-name: Appearance;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(.3,-.4,.1,0);
}
@-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.box-2 {
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #155668;
    margin-bottom: 5px;
}


.title2-box{
display: block;
font-size: 15px;
font-weight: 700;
padding: 10px 15px;
cursor: pointer;
transition: background .2s ease-out;
position: relative;
padding: 5px 15px;
align-items: center;
color: blue;

}
.accord2-mem {
    display: none;
    text-align: center;
    
    
}
.input-mem {
    width: 0px;
    height: 0px;
    appearance: none;
    position: absolute;
   
}
.input-mem:checked ~ .title2-box {
    color: black;
}
.title2-box:hover {
    background-color: #155668;
   
	
    
	
   
}
.input-mem:checked  ~.accord2-mem {
    display: block;
    
}

.title2-box::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 15px;
	height: 15px;
    right: 15px;
	-webkit-transition: 4s;
    transition: .4s;
    margin-top: -7px;
    background-image: url(/cssBayan/cssBayan/assets/svg/Plus_icon-icons.com_71848.svg);
    
}

input-mem:checked ~ .title2-box::after {
    background-image: url(/cssBayan/cssBayan/assets/svg/cross_icon-icons.com_72347.svg);


}

---input[type="radio"]:checked + .title2-box::after {
    transform: rotate(30deg);
    transition: 3s;
}

title2-box:active {
    background-image: url(/cssBayan/cssBayan/assets/svg/cross_icon-icons.com_72347.svg);
}
 --p:hover{
    color: black;

}

.container-mem:hover {
    color: black;
    
}

--p.text:hover{
    color: black;

}
--block p + .text:hover {
    color: black; 
}
-*-p.text:hover {
    color: black; 
}
/*----------Media Tablet----------*/
@media (max-width:1180px){
    .container-mem{
        max-width: 1180px;
        
    }
    .title2-box{ 
        font-size: 13px;
        line-height: 12px;

    }
    h1 {font-size: 20px;}
    img{max-width: 48%;

    }
}

/*-----------Media Mobile----------*/
@media (max-width:568px){
    .container-mem{
        max-width: 568px;
        
    }
    .title2-box{ 
        font-size: 10px;
    }
    h1 {font-size: 15px;}
    img{max-width: 25%;
        min-width: 320px;
}
}